@charset "UTF-8";

body {
    color: #333333;
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
}

#header {
    width: 100%;
    height: 70px;
    background-color: #333333;
}

#content {
    width: 94%;
    margin-top: 15px;
    padding-left: 3%;
}

h1 {
    font-size: 24px;
    display: inline;
}

h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: #24738e;
}

table, tr, th, td {
    border: 1px solid #cccccc;
}

table {
    width: 100%;
    table-layout: fixed;
}

th {
    width: 26%;
    padding: 10px 2%;
}

td {
    width: 66%;
    padding: 10px 2%;
}

button {
    font-size: 14px;
    padding: 5px 10px;
}

.btn_link {
  display       : inline-block;
  border-radius : 5%;
  font-size     : 13pt;
  text-align    : center;
  cursor        : pointer;
  padding       : 6px 10px;
  background    : #24738e;
  color         : #ffffff;
  line-height   : 1em;
  border        : 1px solid #333333;
  transition: border 0.3s, background 0.3s, color 0.3s;
}
.btn_link:hover {
  color         : #24738e;
  background    : #ffffff;
}

.btn_fol {
  display       : inline-block;
  border-radius : 5%;
  font-size     : 13pt;
  text-align    : center;
  cursor        : pointer;
  padding       : 6px 10px;
  background    : #ffffff;
  color         : #333333;
  line-height   : 1em;
  border        : 2px solid #333333;
  margin-bottom: 5px;
  transition: border 0.3s, background 0.3s, color 0.3s;
}
.btn_fol:hover {
  color         : #ffffff;
  background    : #333333;
}

.btn_unFol {
  display       : inline-block;
  border-radius : 5%;
  font-size     : 13pt;
  text-align    : center;
  cursor        : pointer;
  padding       : 6px 10px;
  background    : #333333;
  color         : #ffffff;
  line-height   : 1em;
  border        : 2px solid #333333;
  margin-bottom: 5px;
  transition: border 0.3s, background 0.3s, color 0.3s;
}
.btn_unFol:hover {
  color         : #333333;
  background    : #ffffff;
}

.page_now {
    display       : inline-block;
    font-size     : 11pt;
    text-align    : center;
    padding       : 4px 7px;
    background    : #333333;
    color         : #ffffff;
    line-height   : 1em;
    border        : 2px solid #333333;
    margin-bottom : 20px;
}

.page_link {
    display       : inline-block;
    font-size     : 11pt;
    text-align    : center;
    cursor        : pointer;
    padding       : 4px 7px;
    background    : #ffffff;
    color         : #333333;
    line-height   : 1em;
    border        : 2px solid #333333;
    transition: border 0.3s, background 0.3s, color 0.3s;
}
.page_link:hover {
  color         : #ffffff;
  background    : #333333;
}

#footer {
    text-align: center;
}

#flush_success {
    width: 100%;
    padding-top: 15px;
    padding-left: 2%;
    padding-bottom: 15px;
    margin-bottom: 15px;
    color: #155724;
    background-color: #d4edda;
}

#flush_error {
    width: 100%;
    padding-top: 15px;
    padding-left: 2%;
    padding-bottom: 15px;
    margin-bottom: 15px;
    color: #721c24;
    background-color: #f8d7da;
}

table#employee_list th {
    width: 30%;
    padding: 10px 2%;
}

table#employee_list td {
    width: 29%;
    padding: 10px 2%;
}

tr.row1 {
        background-color: #f2f2f2;
}
tr.row0 {
        background-color: #ffffff;
}

select {
    height: 30px;
}

#header_menu {
    width: 57%;
    padding-top: 17px;
    padding-left: 3%;
    display: inline-block;
}

#employee_name {
    color: #cccccc;
    width: 36%;
    padding-right: 3%;
    text-align: right;
    display: inline-block;
}

#header a {
    color: #eeeeee;
}

h1 a {
    color: #eeeeee;
}

table#report_list th {
    font-weight: bold;
    padding: 10px 2%;
}

table#report_list .report_name {
    width: 20%;
    padding: 10px 2%;
}
table#report_list .report_date {
    width: 20%;
}

table#report_list .report_title {
    width: 37%;
}

table#report_list .report_action {
    width: 13%;
}

h3 {
    font-size: larger;
}

.user_report_title {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

#report_list_title {
    font-size: 36px;
    margin-right: 50px;
}

.sub_title {
    display       : inline-block;
    font-size     : 16pt;
    text-align    : center;
    padding       : 9px 11px;
    background    : #f2f2f2;
    color         : #333333;
    line-height   : 1em;
    border        : 1px solid #cccccc;
    border-bottom : 0;
}

.rep_count {
    display       : inline-block;
    font-size     : 12pt;
    text-align    : center;
    padding       : 6px 10px;
    background    : #f2f2f2;
    color         : #333333;
    line-height   : 1em;
    border        : 1px solid #cccccc;
    border-top    : 0;
    margin-bottom : 10px;
}

.edit_link {
  display       : inline-block;
  border-radius : 5%;
  font-size     : 13pt;
  text-align    : center;
  cursor        : pointer;
  padding       : 6px 10px;
  background    : #b04f51;
  color         : #ffffff;
  line-height   : 1em;
  border        : 1px solid #333333;
  transition    : border 0.3s, background 0.3s, color 0.3s;
}
.edit_link:hover {
  color         : #b04f51;
  background    : #ffffff;
}

.heart {
  display       : inline-block;
  border-radius : 100%;
  font-size     : 25pt;
  text-align    : center;
  cursor        : pointer;
  padding       : 0px 0px;
  color         : #333333;
  line-height   : 1em;
  border        : 2px solid rgba(255, 255, 255, 0.10);
}
.heart:hover {
  color         : #ff4da6;
}

.heart_like {
  display       : inline-block;
  border-radius : 100%;
  font-size     : 25pt;
  text-align    : center;
  cursor        : pointer;
  padding       : 0px 0px;
  color         : #ff4da6;
  line-height   : 1em;
  border        : 2px solid rgba(255, 255, 255, 0.10);
}
.heart_like:hover {
  color         : #333333;
}

.like_count {
    font-size   : 20pt;
    color       : #333333;
    text-align  : center;
}